{%extends 'main.html' %}
{% block complete_calemro %}
<div class="title_div">
    <h1>Find Your Dream Job With Us!</h1>
    <p class="short_title">Post and Discover Job Opportunities</p>
    <div class="btns_header">
        <button class="header_btn">DISCOVER NEW POSTS!</button>
        <button class="header_btn">READ MORE ABOUT US</button>
    </div>
</div>

{% endblock %}

{% block body %} <div class="body_container">
    <div class="title_post_section">
        <h1>LES OFFERS </h1>
    </div>

    <div class="posts_section">
        <div class="post">
            <div class="img_post">
                <img class="img_post_zone" src="../static/image/post_img.webp">
            </div>
            <div class="text_post">
                <div class="info_title_company">ENTERPRISE</div>
                <div class="info_title">Lorem ipsum dolor sit amet</div>
                <div class="info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non volutpat
                    turpis. Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor. Lorem ipsum dolor sit
                    amet, consectetur adipiscing ...<span class="read_more"><u>Read More</u></span></div>
                <div class="info_poster">by Jon Doe 5 hours ago</div>
            </div>
        </div>
    </div>
</div>

<!-- FIND PERFECT CONDIDATE  -->


<section class="condidate_perfect">
    <div class="FIND_CONDITATE">
        <h4 id="feat_h5">FEATURES</h4>
        <h1 id="find_x">FIND THE PERFECT CONDIDATE</h1>
        <p id="last_x">Discover the features that make our professional website the ideal platforme for posting job
            offers
        </p>

    </div>
    <div class="four_condidate">
        <div class="ef_4">
            <h1 id="h1_ef4"> <i class="fa-regular fa-user fa-"></i>
                Wide Range of Job Categories</h1>
            <p id="p1_ef4"> Simple and intul to quickly post job offers</p>
        </div>


        <div class="ef_4">
            <h1 id="h1_ef4"> <i class="fa-regular fa-user fa-"></i> Easy Job Posting</h1>
            <p id="p1_ef4"> Post job offers in various indtries</p>
        </div>
        <div class="ef_4">
            <h1 id="h1_ef4"> <i class="fa-regular fa-user fa-"></i> Advanced Search Filters</h1>
            <p id="p1_ef4"> Simple aSimple and intul to quickly post job offersnd intul to quickly post job offers
            </p>
        </div>
        <div class="ef_4">
            <h1 id="h1_ef4"> <i class="fa-regular fa-user fa-"></i> Candidate Managment</h1>
            <p id="p1_ef4"> Simple and intul to quickly post job offersSimple and intul to quickly post job offers
            </p>
        </div>

    </div>

</section>

{% endblock %}