<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="../static/css/main.css">  hadi method classic ohadi li ltht
    B jinja style !  -->
    <!-- <link rel="stylesheet" href="{{ url_for('static' , filename='styles/jinjatest.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/register.css')}}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/style.css')}}">

    <!-- lets call js white jinja style  -->
    <script src="{{ url_for('static' , filename='js/login.js') }}"></script>



    <!-- calemiro head -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- omaima head  -->
    <link rel="stylesheet" href="{{url_for('static' , filename='styles/footer2.css')}}">
    <script src="https://kit.fontawesome.com/f9ef6662b1.js" crossorigin="anonymous"></script>
    <!-- head by YCN -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles/login.css')}}">
    <script src="{{ url_for('static' , filename='js/login.js') }}"></script>

    {% block head %} {% endblock %}


</head>

<body>
    <header>
        <nav class="nav_nav">
            <div class="main_nav">
                <div class="logo">
                    <h1>LOGO</h1>
                </div>

                <div class="element_nav">
                    <ul class="nav-ul">
                        <li><a href="{{ url_for('home')}}">HOME</a></li>

                        <li><a href="{{ url_for('public_sctr')}}"> Public sector</a></li>
                        <li> <a href="{{ url_for('private_sctr')}}"> Private sector </a> </li>
                        <li><a href="{{ url_for('companies')}}"> Companies </a> </li>
                        <li><a href="{{ url_for('conta')}}">Conta and sas </a> </li>

                    </ul>
                </div>

                <div class="login">

                    <a href="{{ url_for('login')}}" id="signin__btn" style="color: black; font-size: large;  ">
                        login</a>
                    <!-- <button>Login</button> -->
                    <a href="{{ url_for('login')}}" id="register"> Register</a>
                </div>
            </div>
        </nav>

        </div>
    </header>


    {% block complete_calemro %} {% endblock %}

    {% block body %} {% endblock %}






    <footer>
        {% block footer %} {% endblock %}


        {% block HOMPE_page_footer %} {% endblock %}
        <div class="footer-part1">
            <div class="footer-part1-item">
                <p id="part1item">50+</p>
                <br>

                <p id="part1item1">Happy clients</p>
                <br>
                <p id="part1item2">text1</p>
            </div>
            <div class="footer-part1-item">
                <p id="part1item">369</p>
                <br>
                <p id="part1item1">Projects completed</p>
                <br>
                <p id="part1item2">text2</p>
            </div>
            <div class="footer-part1-item">
                <p id="part1item">500+</p>
                <br>
                <p id="part1item1">Hours</p>
                <br>
                <p id="part1item2">text3</p>
            </div>
            <div class="footer-part1-item">
                <p id="part1item">24/7</p>
                <br>
                <p id="part1item1">Support</p>
                <br>
                <p id="part1item2">text4</p>
            </div>
        </div>


        <!-- Part 2 -->
        <div class="footer-part2">
            <p id="part2item">Find the Perfect Candidate</p>
            <p id="part2item1">Connect with top talent and hire the best candidates for your company.</p>
            <button id="btn">Learn more </button>
        </div>

        <!-- Part 3 -->
        <div class="footer-part3">
            <p id="part3">JOBPOST</p>
            <nav id="omaima_nav">
                <a id="part3a" href="#">Home</a>
                <a id="part3a" href="#">About</a>
                <a id="part3a" href="#">Features</a>
                <a id="part3a" href="#">Pricing</a>
                <a id="part3a" href="{{ url_for('contact')}}"> Contact</a>
            </nav>

            <div class="icon3">

                <a id="a_omaima" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a id="a_omaima" href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a id="a_omaima" href="#"><i class="fa-brands fa-x-twitter"></i></a>

            </div>
        </div>


        <!-- Part 4 -->
        <div class="footer-part4">
            <p id="right">© 2023 African job, All Rights Reserved.</p>
        </div>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>

</html>